<div class="container">
  <h1> Build your Alter-Ego </h1>
  <div data-controller="toggle-display">
    <div data-target="toggle-display.togglable" class="<%= 'd-none' if @profile.id.present? %> ">
      <%= render "profile_form", profile: @profile %>

    </div>
    <div data-target="toggle-display.togglable" class="card p-2 <%= 'd-none' unless @profile.id.present? %>" >
      <div class="d-flex justify-content-between">
        <h2> <%= @profile.nickname %></h2>
        <i class="fas fa-pencil-alt clickable" data-action="click->toggle-display#toggleDiv" data-toggle="tooltip" data-placement="top" title="edit"></i>
      </div>
      <p> <%= @profile.secret_bio %> </p>
    </div>
  </div>
  <% if @profile.id.present? %>
    <div data-controller="toggle-display" class="card mt-2 p-2">
      <div data-target="toggle-display.togglable" class="<%= 'd-none' if @profile.chosen_vision&.id&.present? %> ">
        <%= render 'chosen_vision_form', chosen_vision: @chosen_vision %>
      </div>
      <div data-target="toggle-display.togglable" class="<%= 'd-none' unless @profile.chosen_vision&.id&.present?  %>" >
        <div class="d-flex justify-content-between">
          <h3> <%= @profile.nickname %> Mission: </h3>
          <i class="fas fa-pencil-alt clickable" data-action="click->toggle-display#toggleDiv" data-toggle="tooltip" data-placement="top" title="edit"> </i>
        </div>
            <b> <%= @profile.chosen_vision&.motto %> </b>
      </div>
    </div>
  <% end %>

  <% if @profile.chosen_vision&.id&.present? %>
    <div data-controller="toggle-display" class="card mt-2 p-2">
      <h3> <%= @profile.nickname %> strategies: </h3>

      <div data-target="toggle-display.togglable" class="<%= 'd-none' unless @profile.chosen_strategies.empty? %> ">
        <%= render 'chosen_strategy_form', chosen_strategy: @new_chosen_strategy %>
      </div>
      <div data-target="toggle-display.togglable" class="<%= 'd-none' if @profile.chosen_strategies.empty? %> ">
        <ul class="list-group list-group-flush">
          <% @profile.chosen_strategies.each do |strategy| %>
            <div data-controller="toggle-display">

              <li data-target="toggle-display.togglable"  class="list-group-item"><%= strategy.personal_strategic_goal %>
                <i class="fas fa-pencil-alt clickable" data-action="click->toggle-display#toggleDiv" data-toggle="tooltip" data-placement="top" title="edit"> </i>
              </li>
              <div data-target="toggle-display.togglable" class="d-none mb-1">
                <%= render 'chosen_strategy_form', chosen_strategy: strategy %>
              </div>
            </div>
          <% end %>
        </ul>
        <i class="fa fa-plus clickable" data-action="click->toggle-display#toggleDiv" data-toggle="tooltip" data-placement="top" title="Add a strategy"> </i>
      </div>
    </div>
  <% end %>
</div>
