<b> Create a Power-Up </b>
<%= simple_form_for power_up do |f| %>
<%= f.input :name, placeholder: "It's like a pushup: something you don't want to do before, but after you're better and stronger" %>
<%= f.input :description, placeholder: "Describe what you would do when you activate this power up" %>
<%= f.input :xp, hint: "How much Xp ?", input_html: { min: 0, max: 100 } %>
<div class="d-flex align-items-center">
  <%= f.button :submit, class: "btn btn-info" %>
  <% if power_up.id.present? %>
  <i class="ml-2 fas fa-pencil-alt clickable" data-action="click->toggle-display#toggleDiv" data-toggle="tooltip" data-placement="top" title="close edit"> </i>
  <% else %>
  <i class="fa fa-minus clickable ml-2" data-action="click->toggle-display#toggleDiv" data-toggle="tooltip" data-placement="top" title="close form"> </i>
  <% end %>
</div>
<% end %>