<%= simple_form_for quest do |f| %>
<%= f.input :name, hint: "blablablabla  blablablalba" %>
<%= f.input :xp, hint: "between 1-100" %>
<%= f.input :description, hint: "balabblalbalblalbal" %>

<div class="d-flex align-items-center">
  <%= f.button :submit, class: "btn btn-info" %>
  <% if quest.id.present? %>
  <i class="ml-2 fas fa-pencil-alt clickable" data-action="click->toggle-display#toggleDiv" data-toggle="tooltip" data-placement="top" title="close edit"> </i>
  <% end %>
</div>
<% end %>