<b> Create a Quest </b>
<%= simple_form_for quest do |f| %>
<%= f.input :name, placeholder: "Client hunter"%>
<%= f.input :description, as: :text, placeholder: "Try to contact at least 20 new potential clients in 1 week" %>
<div id="quest_strategies">
  <%= f.simple_fields_for :quest_strategies do |chosen_strategy| %>
  <%= render 'adventures/quest_strategy_fields', f: chosen_strategy %>
  <% end %>
  <%= link_to_add_association 'Add an associated personnal strategy', f, :quest_strategies, partial: "adventures/quest_strategy_fields" %>
</div>
<%= f.input :xp, hint: "How much XP i will earn once i complete the quest ?", input_html: { min: 0, max: 100 } %>
<div class="d-flex align-items-center">
  <%= f.button :submit, class: "btn btn-info" %>
  <% if quest.id.present? %>
  <i class="ml-2 fas fa-pencil-alt clickable" data-action="click->toggle-display#toggleDiv" data-toggle="tooltip" data-placement="top" title="close edit"> </i>
  <% else %>
  <i class="fa fa-minus clickable ml-2" data-action="click->toggle-display#toggleDiv" data-toggle="tooltip" data-placement="top" title="close form"> </i>
  <% end %>
</div>
<% end %>